.bg{
    background-image:url("cat3.jpg");
    background-size: cover;
}
.blur{
    backdrop-filter: blur(10px);
}
.image1{
    height: 200px;
    border-radius:19px;
    margin-left:75px;
}
.heading{
    color: rgb(235, 225, 233);
    text-align: center;
    text-decoration: underline;
    animation: color 2s;
}
.name{
    text-align: center;
    color: rgb(70, 4, 4);
}
.name2{
    color: rgb(6, 66, 116);
    font-family: sans-serif;
    text-decoration: underline;
    font-style: italic;
}
.para{
    text-align:center;
    color: rgb(7, 25, 59);
    font-family: cursive;
    font-style:italic;
    font-weight: bold;
    font-size:30px ;
}
.image2{
    height: 150px;
    margin-left:15px;
}
.details{
    background-color: rgb(191, 212, 211);
    margin: 5px;
    color: rgb(104, 18, 3);
}
.heading2{
    color: rgb(128, 7, 128);
    text-decoration: underline;
    animation:color2 2s;
}
.btn{
    background-color: rgb(189, 191, 216);
    margin-left: 60px;
    border-radius: 2px;
    font-size: medium;
    border-color: rgb(238, 227, 240);
    font-family:serif;
    color: rgb(7, 14, 14);
    margin-bottom: 10px;
}
.h3{
    text-align: center;
    color: rgb(3, 39, 68);
    margin-top: 20px;
}
.about{
    color: rgb(5, 28, 44);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signup{
    background-color: rgb(245, 144, 144);
    text-align: center;
}
@keyframes color{
    0%{
        color: rgb(2, 40, 78);
        transform: translate(0px);
    }
    100%{
        color: rgb(241, 241, 248);
        transform: translate(50px);
    }
}
.summary{
    background-color: rgb(42, 204, 204);
}
@keyframes color2{
    0%{
        color: rgb(216, 162, 233);
    }
    100%{
        color: rgb(107, 3, 93);
    }
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               

.list{
    color:blue;
    background-color:pink;
    display:flex;
    justify-content:space-between;
}
